{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Paaras Purohit - APCSP Flask Website</strong></h1>
        <h3 class="text-white">A little about my interests</h3>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/programming.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Interest: <mark>Programming</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>I have been coding for about 5 1/2 years now</li>
                            <li>I know Java, Python, C#, C++, HTML, CSS, and JavaScript</li>
                            <li>I have used my programming for web development, console applications, problem solving, and game development.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/animation.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Interest: <mark>Art/Animation</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>I have been into animation since 2019 and 2020</li>
                            <li>It really became an interest when quarantine hit, and I wanted to create something visual</li>
                            <li>I do both 2D and 3D animation, although I primarily use 3D for my 3D Animation course here at DNHS</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/audio.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Interest: <mark>Music</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>I have been making music since 2020</li>
                            <li>It started off as a joke between me and my friends, but eventually became a passion</li>
                            <li>I sometimes put my music on SoundCloud</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}